DATABASE_NAME=scheduled-messages
DATABASE_USERNAME=wuser
DATABASE_PASSWORD=wpass
DATABASE_PORT=54321
DATABASE_URL=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@localhost:${DATABASE_PORT}/${DATABASE_NAME}
